****GROUP 9 CASE STUDY PRESENTATION - WEEK 5 - 12/1/2024****

****NYC PARKING VIOLATIONS DATA SET ANALYSIS****

In [5]:
# Import Pandas as pd To get Pandas
import pandas as pd

In [3]:
# To Import CSV file using the specified Columns using the 'usecols' method.
df = pd.read_csv("D:/azubi/python/week5 casefile/nyc_2020.csv", usecols=['Plate ID','Registration State','Vehicle Make',
                                                                         'Vehicle Color','Violation Time', 'Street Name'] )
df.head(20)

,Plate ID,Registration State,Vehicle Make,Violation Time,Street Name,Vehicle Color
0,J58JKX,NJ,HONDA,0523P,43 ST,BK
1,KRE6058,PA,ME/BE,0428P,UNION ST,BLK
2,444326R,NJ,LEXUS,0625A,CLERMONT AVENUE,BLACK
3,F728330,OH,CHEVR,1106A,DIVISION AVE,NaN
4,FMY9090,NY,JEEP,1253A,GRAND ST,GREY
5,KDG0693,PA,HYUN,0525P,B 99 ST,GY
6,79928MG,NY,INTER,1120A,W/S/O WASHINGTON ST,WH
7,JJJ8186,NY,BMW,0320A,BAINBRIDGE AVE,BLK
8,DKD6024,NC,FORD,0843P,94 ST,GREY
9,6542FR,99,CMCKU,0739P,E 54 ST,RED
10,JKZ9192,NY,HONDA,1020A,ROCKAWAY AVE,GREY
11,JEJ2470,NY,HONDA,0936P,E 167 ST,GRAY
12,GLL6398,NY,HONDA,1030A,ROCKAWAY AVE,BLACK
13,HFB9724,NY,HONDA,1015A,ROCKAWAY AVE,BLACK
14,A081358,ME,HONDA,0952A,MARTENSE ST,TAN
15,JKZ9192,NY,HONDA,0815A,ROCKAWAY AVE,SILVE
16,7533572,GV,NaN,0410P,E 58 ST,WH
17,96169MA,NY,FRUEH,0605P,W 125 ST,BN
18,KMMOVING,NC,FORD,0825P,E 40 STREET,WH
19,89493MK,NY,INTER,0854A,44TH ST,WH

In [6]:
# Use the df.info() to see the data frame properties.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12495734 entries, 0 to 12495733
Data columns (total 6 columns):
 #   Column              Dtype
---  ------              -----
 0   Plate ID            object
 1   Registration State  object
 2   Vehicle Make        object
 3   Violation Time      object
 4   Street Name         object
 5   Vehicle Color       object
dtypes: object(6)
memory usage: 572.0+ MB

'''***QUESTION 1: HOW MANY ROWS ARE IN THE DATA FRAME?***'''

In [8]:
# The Number of rows in the Data Frame
number_of_row_in_df = len(df)
print(f"The number of rows in the data frame is {(number_of_row_in_df):,.0f}")

The number of rows in the data frame is 12,495,734

In [9]:
# To see The N/A values in the columns
df.isna().sum()

Plate ID                 202
Registration State         0
Vehicle Make           62420
Violation Time           278
Street Name             1417
Vehicle Color         391982
dtype: int64

***HOW MANY ROWS HAVE N/A VALUES IN THE DATA FRAME?***

In [37]:
# Count the number of NA or null values in each row
#.sum(axis=1) identifies the null values (True or False) in each element of the DataFrame, 
#the sum(axis=1) part sums these values along the columns (axis=1), effectively counting the number of True values for each row.
null_values_per_row = df.isna().sum(axis=1)
# Total number of rows with at least one NA or null value
total_rows_with_null = (null_values_per_row > 0).sum()
print(f"The Total rows with null or N/A is {(total_rows_with_null):,.0f}")

The Total rows with null or N/A is 447,359

***QUESTION 2 And 3: DROP THE ROWS WITH NULL VALUES AND SHOW HOW MANY ROWS ARE IN THE DATA FRAME?***

In [10]:
# Drop rows with any null or N/A values
df_cleaned = df.dropna()
#  Print number of rows in the current cleaned data frame
print(f"The cleaned data frame has {len(df_cleaned):,.0f} rows")

The cleaned data frame has 12,048,375 rows

In [11]:
#Test the data result
test = number_of_row_in_df - len(df_cleaned)
test

447359

In [12]:
#To Check The  cleaned Data frame to see if null values exist
df_cleaned.isna().sum()

Plate ID              0
Registration State    0
Vehicle Make          0
Violation Time        0
Street Name           0
Vehicle Color         0
dtype: int64

***QUESTION 4: IF EACH PARKING TICKET BRINGS $100 and MISSING DATA MEANS THE TICKET COULB BE SUCCESSFULLY CONTESTED
, HOW MUCH MONEY MIGHT NEWYORK LOSE DUE TO MISSING DATA?***

In [34]:
# The possible loss due to missing value for tickets is simply multiplying the rows with null values with 100$
possible_loss = total_rows_with_null * 100
print(f'The possible loss due to missing values incase the ticket is contested is {float(possible_loss):,.2f} $')

The possible loss due to missing values incase the ticket is contested is 44,735,900.00 $

***QUESTION 5: ASSUMING TICKETS CAN ONLY BE DISMISSED IF LICENSE PLATE, STATE, CAR MAKE & STREET NAME ARE MISSING
REMOVE ROWS THAT ARE MISSING FROM ONE OF THIS COLUMNS. HOW MANY ROWS ARE IN THE NEW DATA FRAME.***

In [13]:
#Drop null values for specified columns using the subset =['column1','column2','column3'...]
cleaned_df0 = df.dropna(subset=['Plate ID','Registration State','Vehicle Make','Street Name'])
print(f"The cleaned data frame having droped null values from car Reg.No, Reg. State, type and Street name has {len(cleaned_df0):,.0f} rows")

The cleaned data frame having droped null values from car Reg.No, Reg. State, type and Street name has 12,431,949 rows

In [14]:
#To test if the above rows have any null values remaining.
cleaned_df0.isna().sum()

Plate ID                   0
Registration State         0
Vehicle Make               0
Violation Time           244
Street Name                0
Vehicle Color         383350
dtype: int64

***QUESTION 6: HOW MUCH MONEY DOES THE CITY STAND TO LOSE DUE TO DROPED VALUES IN DF0 ASSUMING 100$ CHARGE***

In [15]:
#The Possible Loss for second data frame is the difference in Len of original and the df0 multiplied by 100$
possible_loss0 = (number_of_row_in_df - len(cleaned_df0))*100
print(f'The possible loss due to missing values incase the ticket is contested due to droped null values from car Reg.No, Reg. State, type and Street name is {float(possible_loss0):,.2f} $')

The possible loss due to missing values incase the ticket is contested due to droped null values from car Reg.No, Reg. State, type and Street name is 6,378,500.00 $